<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Woofer</title>
    </head>
    <body>
        {{> header}}
        <p>Sample text here</p>

        {{> footer}}
    </body>
</html>