<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Woofer</title>
    </head>
    <body>
        {{> header}}

        <h2>Project page here</h2>

        {{> footer}}
    </body>
</html>